@use "colors";
@use "custom-scheme";

.bg-invisible {
  background-color: colors.$bg-invisible;
}

.bg-transparent {
  background-color: colors.$bg-transparent;
}

.bg-semi-transparent {
  background-color: colors.$bg-semi-transparent;
}

.bg-solid {
  background-color: colors.$bg-solid;
}

.scheme-solid {
  .bg-transparent {
    background-color: colors.$bg-transparent_solid;
  }

  .bg-semi-transparent {
    background-color: colors.$bg-semi-transparent_solid;
  }

  .bg-solid {
    background-color: colors.$bg-solid_solid;
  }
}