$great: #4dc49e !default;
$good: #9ccc72 !default;
$semi: #60abbd !default;
$average: #dedede !default;
$subpar: #f7cd60 !default;
$poor: #f77c60 !default;
$ct-color: #84abf1 !default;
$t-color: #de9b35 !default;

$premierRanks: (
  "ancient": #EB4B4B,
  "legendary": #D22CE6,
  "unusual": #FED700,
  "mythical": #8846FF,
  "rare": #4B69FF,
  "uncommon": #5E98D7,
  "common": #B1C3D9,
);

$bg-solid: #19171e !default;
$bg-solid-1: #201e25 !default;
$bg-solid-2: #25222c !default;
$bg-solid-3: #2a2732 !default;
$bg-semi-transparent: #19171ee0 !default;
$bg-transparent: rgba(25, 23, 30, 0.56) !default;

$bg-solid_solid: #19171e !default;
$bg-semi-transparent_solid: rgba(25, 23, 30, 0.99) !default;
$bg-transparent_solid: #19171ee0 !default;

$primary: #6c2883 !default; //#e5296a !default;

$border-1: #2F2B38 !default;