.text-great {
  color:#4dc49e!important
}

.text-good {
  color:#9ccc72!important
}

.text-semi {
  color: #60abbd !important
}

body,
.text-average {
  color:#dedede!important
}

.text-subpar {
  color:#f7cd60!important
}

.text-poor {
  color:#f77c60!important
}

.text-ct {
  color:#84abf1
}

.text-t {
  color:#de9b35
}