@use "colors";

.text-great {
  color: colors.$great !important
}

.text-good {
  color: colors.$good !important
}

.text-semi {
  color: colors.$semi !important
}

body,
.text-average {
  color: colors.$average !important
}

.text-subpar {
  color: colors.$subpar !important
}

.text-poor {
  color: colors.$poor !important
}

.text-ct {
  color: colors.$ct-color !important;
}

.text-t {
  color:  colors.$t-color !important;
}